.titulo{
    display: flex;   
    border-color: black;    
    border-style: inset;
    height: 100px;
    width: 500px; 
    justify-content: center;
    align-items: center;
    margin:5%;
    padding: 10px;
}

 
